.paragraph-wrapper {
  margin-top: 40px;
  font-size: 22px;
}

.paragraph-wrapper p {
  font-size: 22px;
}

.tagline {
  font-size: 20px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}